.content {
  height: 2500px;
  position: relative;
}

.content-grid {
  position: absolute;
  height: 95%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex-center;
  flex-wrap: wrap;
  img {
    object-fit: contain;
    max-height: 200px !important;
    width: 100%;
  }
}
@media #{$tablet} {
  .content {
    height: 1250px;
  }
  .content-grid {

    img {
      width: 50%;
    }

  }
}
@media #{$desktop} {
  .content {
    height: 1000px;
  }
  .content-grid {

    img {
      width: 33%;
    }
  }
}
