.hero {
  height: 50vh;
  background-image: url("../img/scenery-scroll/16.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  img {
    width: 100%;
    padding: 5%;
  }

}

h1 {
  text-align: center;
  color: $text;
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: 0;
}
