.nav {
  height: 10vh;
  i {
    float: right;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 25px;
  }
  i:hover {
    cursor: pointer;
  }
  .logo {
    float: left;
    img {
      height: 9vh;
    }
  }
}


@media #{$desktop} {
  .nav {
    float: left;
    padding: 5px;
    padding-left: 2px;
    position: fixed;

    i {
      clear: both;
      float: left;
      margin-top: 10px;
      margin-left: 50%;
    }
  }
}

@media screen and (min-width: 1250px) {
  body {
    @include flex-center;
  }
  .nav {
    padding-right:1100px;
  }
}
