.nav {
  background: red;
  height: 10vh;
}

.logo {
  background: salmon;
  float: left;
}

@media screen and (min-width: 900px) {
  .nav {
    float: left;
    margin-top: 40vh;
    margin-right: 3rem;
    padding: 1rem;
    position: fixed;
    background: blue;
  }
}
